
![Aa]ssets/**/*.meta
*.*~
*.VC.db
*.apk
*.booproj
*.csproj
*.mdb
*.mdb.meta
*.opendb
*.pdb
*.pdb.meta
*.pidb
*.pidb.meta
*.pyc
*.sln
*.sln.docstates
*.suo
*.svd
*.swp
*.tmp
*.unitypackage
*.unityproj
*.user
*.userosscache
*.userprefs
.DS_Store
.consulo/
.gradle/
.vs/
.vscode
ExportedObj/
[Bb]in/
[Bb]uild/
[Bb]uilds/
[Dd]ebug/
[Dd]ebugPublic/
[Ll]ibrary/
[Ll]ogs/
[Oo]bj/
[Oo]ut/
[Rr]elease/
[Rr]eleases/
[Tt]emp/
bld/
build/
crashlytics-build.properties
msbuild.err
msbuild.log
msbuild.wrn
nupkg/
project.lock.json
sysinfo.txt
x64/
x86/
